body {
    font-family: Calibri;
}
#title, .subtitle, .post_title {
    color: rgb(96, 96, 96);
}
a {
    text-decoration: underline;
}
#title {
    font-size: 32px;
    font-style: italic;
    text-transform: uppercase;
}

.post {
    background: lightgray;
    padding: 20px;
    border: 5px solid black;
    margin-bottom: 15px;
}

.post_content {
    margin: 0;
    margin-bottom: 15px;
}

.post_image {
    margin-bottom: 15px;
    border-radius: 50%;
    border: 5px dotted black;
}

.lista {
    list-style-type: square;
}

.lista li {
    text-decoration: line-through;
}