#title, .subtitle, .post_title {
    color: red;
}

#title {
    font-size: 32px;
    font-style: italic;
}

.post {
    background: lightgray;
    padding: 20px;
    border: 5px solid black;
    margin-bottom: 15px;
}

.post_content {
    margin: 0;
    margin-bottom: 15px;
}

.post_image {
    margin-bottom: 15px;
    border-radius: 50%;
    border: 5px dotted black;
}